@import "/css/utilidades/tipografia.css";
@import "/css/global/global.css";
@import "/css/utilidades/cor.css";

@import "/css/global/header.css";

/*Utilidades*/
@import "/css/utilidades/componentes.css";
@import "/css/utilidades/menu_hamburguer.css";

/*Home*/
@import "/css/home/introducao.css";
@import "/css/home/especialidades.css";
@import "./home/sobre.css";
@import "/css/home/portfolio.css";
@import "/css/home/formulario.css";
@import "/css/home/footer.css";