:root {
    --cor-w0: #ffffff;
    --cor-w1: #ffffff3e;
    --cor-b1: #000000;
    --cor-b2: #000000b8;
    --cor-b3: #242424;
    --cor-b4: #000000a7;
    --cor-blue1: #0cc0df;
    --cor-blue2: #0cbfdfea;
}

.cor-w0 {
    color: var(--cor-w0);
}

.cor-w1 {
    color: var(--cor-w1);
}

.cor-b1 {
    color: var(--cor-b1);
}

.cor-b2 {
    color: var(--cor-b2);
}

.cor-blue {
    color: var(--cor-blue1);
}