.btn-abrir-menu img {
    width: 40px;
    height: 40px;
}

.nav-bar-hamburguer, .overlay-menu {
    display: none;
}

.btn-abrir-menu {
    display: none;
}

.menu-mobile {
    background-color: var(--cor-b1);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: 0.3s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar img.icone_fechar {
    color: var(--cor-blue1);
    width: 30px;
    height: 30px;
}

.menu-mobile nav ul li{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: var(--cor-w0);
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: var(--cor-blue1);
    color: var(--cor-b1);
}

.overlay-menu {
    background-color: var(--cor-b4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

@media (max-width:652px) {
    header nav ul li a.desaparecer{
        display: none;
    }
    .btn-abrir-menu {
        display: block;
    }
}