header {
    padding: 40px 4%;
    max-width: 100%;
    box-sizing: border-box;
    background: var(--cor-b1);
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

header a {
    display: inline-block;
}

header nav.menu-desktop a:hover {
    transform: scale(1.05);
    transition: 0.2s;
}


@media (max-width:1202px) {
    header {
        margin-top: 35px;
        padding: 10px 3%;
    }
    header nav ul li {
        padding: 0 20px;
    }
}
@media (max-width:1182px) {
    header.cabecalho nav.menu-desktop li {
        padding: 0 20px;
    }
}
@media (max-width:780px) {
    header.cabecalho nav.menu-desktop li {
        padding: 0 5px;
    }
}
@media (max-width: 652px) {
    header > .interface {
        justify-content: center;
    }
}

