section.especialidades {
    padding: 40px 4%;
    box-sizing: border-box;
    margin-bottom: 20px;
    max-height: 100vh;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box {
    padding: 40px;
    margin-top: 45px;
    border-radius: 8px;
}

.especialidades .especialidades-box:hover {
    transform: scale(0.950);
    box-shadow: 0 0 8px var(--cor-w0);
    transition: 0.3s;
    z-index: 999;
}