section.topo-do-site {
    padding: 40px 4%;
    margin-top: 200px;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top:0;
    }
    100%{
        top:30px;
    }
}